@{
    ViewData["Title"] = "Inicio";
}

<nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger"
           asp-area="" asp-controller="Home"
           asp-action="Index">
            EXPRESS-JOB
        </a>
        <button data-toggle="collapse"
                class="navbar-toggler navbar-toggler-right"
                data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"
                value="Menu">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item nav-link js-scroll-trigger" role="presentation"></li>
                <partial name="/Views/Shared/_LoginPartial.cshtml" />
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image: url('@Url.Content("~/img/fondo_principal.png")');">
    <div class="intro-body" style="background-image: url('@Url.Content("~/img/fondo_principal.png")');">
        <div class="container" style="max-width: 600px;
        height: 50%;
        background-image: url('@Url.Content("~/img/logo.png")');background-size: contain;background-position: center;background-repeat: repeat-x;"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="intro-text" style="font-family: Cabin, sans-serif;">&quot;SOLUCIONES PARA TI EN UN SOLO CLIC&quot;</p>
                    <a class="btn btn-link btn-circle" role="button" href="#mision"
                       style="        background-image: url('@Url.Content("~/img/boton_abajo.png")'); background-size: cover; background-repeat: no-repeat; border: none"><i class="fa fa-angle-double-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="mision" class="content-section text-center" style="height: 900px;background-color: #343539;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto" style="width: 50%;">
                <h2>Misión</h2>
                <p style="font-family: 'Alegreya Sans', sans-serif;">
                    Brindar un espacio enfocado a encontrar y solicitar soluciones a diversas necesidades que un hogar o empresa requieren. Con el fin de proveer una alternativa para aquellas personas que cumplen con un oficio, se den a conocer para ser
                    reconocidos y obtener un ingreso extra para sus familias.&nbsp;
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="background-image: url('@Url.Content("~/img/mision.png")');
        width: 40%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;">
    </div>
</section>
<section id="vision" class="download-section content-section text-center" style="background-color: rgb(98,98,98);height: 900px;">
    <h1 style="font-size: 32px;">VISIÓN</h1>
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <p style="font-family: 'Alegreya Sans', sans-serif;">
                Ser una empresa que brinde una nueva forma de poder brindar ingresos, y seguridad para solucionar problemas o necesidad de la población, con el uso de las tecnologías, las cuales día a día forman parte de nuestra vida. No ser el cambio
                de la tecnología, ser el cambio con la tecnología.
            </p>
        </div>
    </div>
    <div class="container" style="width: 40%;
        background-image: url('@Url.Content("~/img/vision.png")');
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;"></div>
</section>
<section id="registro" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 style="color: #FE8F00;">¡COMIENZA A SER PARTE DE ESTE PROYECTO!</h2>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">&nbsp;</li>
                    <li class="list-inline-item"><button class="btn btn-light" type="button" style="background-color: #343539;color: #FFFFFF;">REGISTRARME</button>&nbsp;</li>
                    <li class="list-inline-item">&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
</section>